body {
  background-color: rgb(255, 244, 222);
  margin: 10px;
  
}

    .img-size{
      width: 310px;
      height: 300px;
      padding: 2rem;
    }
    .alignment{
    
      display:inline-flex;
      align-items: center;
      justify-content: space-between;
    }

