.card-size {
  width: 15rem;
  height: 200px;
  display: inline-flex;
  padding: 10px;
}

.card-size img {
/* width: 100%;
height: 1000px; */
padding: 10px;
}

.card-img-holder{
max-width: 100vw;
max-height: 100%;
width: 100%;

}

.card input{
  width: 100%;
}